*{
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: rgb(24, 24, 24);
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 18px;

}
span{
    margin: 20px;
}
.image{
    width: 16px;
    margin-left: 5px;

    
}
.Applelogo{
    background-color: black;
    text-align: center;
    width: 100%;
}
#applelogo{
    width: 20%;
   
    /* margin-top: 31px; */
    text-align: center;
   
}
.wvdc{
    color: white;
    font-size: 47px;
    text-align: center;
    /* margin-left: 230px; */
    /* margin-top: 50px; */
    
}
#wvdc{
    width: 45px;
    text-align: center;
    margin-top: 10px;
}
.subhead{
    text-align: center;
    color: white;
    margin-top: 10px;
}
button{
    background-color: blue;
    color: white;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    margin-right: 16px;
    border-radius: 20px;
    border:2px solid blue;
    margin-top: 10px;
    margin-bottom: 10px;
}

